.holder {
  margin-bottom: 10px;
  margin-left: 0px;

}


.hljs-name {
    color: #008080;
  }
.hljs-keyword {
    color: #008080;
    font-weight: bold;
  }
.hljs-string {
    color: #008080;
  }
.hljs-number {
    color: #008080;
  }
